/* Presets */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body {
   background-color: black;
}

img {
   width: 100%;
}

a {
   text-decoration: none;
   color: white;
}

li {
   list-style: none;
}

/* Presets End */

/* Navigation Bar */

nav {
   display: flex;
   justify-content: space-between;
   color: white;
   margin: 20px 20px 5px;
}

.account {
   display: flex;
   align-items: center;
}

.account>i {
   font-size: 20px;
}

.account>p {
   margin: 10px;
}

.account>button {
   border-radius: 15px;
   padding: 7px;
   border: none;
}

/* Navigation Bar Ends */

/* Main Section */

main {
   display: flex;
   width: 100%;
   color: white;
}

.main-text,
.main-img {
   width: 50%;
}

.main-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   margin-left: 100px;
}

.main-first-text {
   font-size: 45px;
   font-weight: bold;
}

.main-second-text {
   margin-top: 20px;
   font-size: 12px;
}

.main-img {
   margin: 25px 100px 25px 0px;
}

.main-img>img {
   border-radius: 20px;
}

/* Main Section Ends */

/* Article Section */

article {
   background-color: white;
   padding: 40px 80px 40px 80px;
}

.article-buttons {
   display: flex;
}

.signup,
.login {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
   padding-bottom: 30px;
   margin: 0px 20px 0px 20px;
   border-bottom: 2px solid gray;
   font-size: 20px;
}

.signup>i,
.login>i {
   font-size: 30px;
}

.article-text {
   margin: 80px 20px 10px 20px;
   line-height: 25px;
   font-size: 14px;
}

/* Article Section Ends */

/* Footer Section */

footer {
   color: white;
   margin: 50px 100px 80px 100px;
}

.policy {
   display: flex;
   justify-content: space-between;
   line-height: 30px;
   text-align: end;
}

.links {
   display: flex;
   margin-top: 75px;
   justify-content: space-between;
   line-height: 40px;
}

.links>div>h2 {
   font-size: 18px;
}

.icon-section {
   display: flex;
   justify-content: space-between;
   margin: 75px 0px;
}

.icons>a>i {
   font-size: 15px;
   padding-right: 80px;
}

.location {
   display: flex;
   align-items: center;
}

.location>i {
   font-size: 15px;
   margin: 0px 10px;
}

.button-section {
   margin: 40px 0px;
}

.button-section>button {
   background-color: black;
   color: white;
   border: 1px solid white;
   border-radius: 2px;
   font-size: 20px;
   padding: 5px;
}

.copyright {
   display: flex;
   justify-content: space-between;
   margin: 20px 0px;
}

.privacy {
   display: flex;
}

.privacy>p {
   padding-right: 20px;
}

/* Footer Section Ends */