/* Presets */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body {
   background-color: black;
}

img {
   width: 100%;
}

a {
   text-decoration: none;
   color: white;
}

/* Presets End */

/* Navigation Bar */

nav {
   display: flex;
   justify-content: space-between;
   color: white;
   margin: 20px 20px 5px 20px;
}

.account {
   display: flex;
   align-items: center;
}

.account>p {
   margin: 10px;
}

.account>button {
   border-radius: 15px;
   padding: 7px;
   border: none;
}

/* Navigation Bar Ends */

/* Main Section */

.main-section {
   display: flex;
   width: 100%;
   color: white;
}

.main-section-text,
.main-img {
   width: 50%;
}

.main-section-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   margin-left: 100px;
}

.main-first-text {
   font-size: 45px;
   font-weight: bold;
}

.main-second-text {
   margin-top: 20px;
   font-size: 12px;
}

.main-img {
   margin: 25px 100px 25px 0px;
}

/* Main Section Ends */

/* Article Section */

.article-section {
   background-color: white;
   padding: 40px 80px 40px 80px;
}

.signup-login {
   display: flex;
}

.signup,
.login {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
   padding-bottom: 30px;
   margin: 0px 20px 0px 20px;
   border-bottom: 2px solid gray;
   font-size: 20px;
}

i {
   font-size: 30px;
}

.article {
   margin: 80px 20px 10px 20px;
   line-height: 25px;
   font-size: 14px;
}

/* Article Section Ends */

/* Footer Section */

.footer {
   color: white;
}

.policy {
   display: flex;
   justify-content: space-between;
}

.links {
   display: flex;
}

.icon-section {
   display: flex;
   justify-content: space-between;
}

.losangeles {
   display: flex;
}

.copyright {
   display: flex;
   justify-content: space-between;
}

.privacy {
   display: flex;
}

/* Footer Section Ends */